@import './frontEnd/landing';
@import 'facebook';
.lineh {
  .title-2 {
    line-height: 40px !important;
    max-height: 40px;
  }
}

.post-body {
  img {
    max-width: 100% !important;
    height: auto !important;
  }
  figcaption {
    background: rgba(100, 100, 100, 0.08);
    text-align: center;
    padding: 5px 3px;
  }
}
@media (max-width: 639px){

  .details-img {
    float: none !important;
    margin: 0 auto;
    width: 100%;
    padding: 0 !important;
  }

  .details-content2 {
    width: 100%;
    float: none !important;
    margin: 0 auto;
    border: 1px solid #014987;
  }
  h1 {
    text-align: center;
    border-bottom: 1px solid #014987;
  }
}

.title-2 {
  background: #014987;
}

.col-w230 {
  display: inline-block;
  float: none;
}

.price-product {
  //border-bottom: 1px solid #0a66b7;
  display: block;
  padding: 0;
  margin: 5px auto 0 auto;
  text-align: center;
  font-size: 24px;
}

.centerText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.blink_me {
  animation: blinker 0.7s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.85 }
}

.blink_me2 {
  animation: blinker2 0.3s linear infinite;
}

@keyframes blinker2 {
  50% { opacity: 0.6 }
}

.modal-backdrop {
  display: none;
}

#banner-top {
  img {
    width: 100%;
    height: auto;
  }
}


@-moz-keyframes vibrate {
  0% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@-o-keyframes vibrate {
  0% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

#phone {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  .text-phone {
    font-weight: bold;
    position: absolute;
    right: 75px;
    b {
      color: red;
      font-weight: bold;
    }
    span {
      font-style: italic;
      font-weight: lighter;
      font-size: 11px;
      display:block;
    }
  }
}
#phone-image {
  width: 75px;
  height: 75px;
}

.vibrate  {
  -webkit-animation-name: vibrate;
  -moz-animation-name: vibrate;
  -o-animation-name: vibrate;
  -ms-animation-name: vibrate;
  animation-name: vibrate;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hasSubMenu {
  //position: relative;
  ul {
    z-index: 9999;
  }
  &:hover ul {
    display: block !important;
  }
}


.modalmock {
  max-width: 650px;
  margin: 0 auto;
  font-family: Helvetica;
  background: #ffffff;
  padding: 20px;
}
.subscription-plan {
  display: flex;
  align-items: stretch;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 5px;
  background: #f0f0f0;
  transition: all 0.75s;
  border: rgba(0,0,0,0.1) solid 1px;
}
.subscription-plan:hover {
  background: #e0e0e0;
  border: rgba(0,0,0,0.2) solid 1px;
}

.subscription-plan--price {
  order: 1;
  flex-grow: 1;
  border-radius: 10px 0px 0px 10px;
  font-size: 28px;
  color: #ffffff;
  padding: 5px 0px 5px 15px;
  margin-right: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  background: rgba(2,136,208,1);
  background: -moz-linear-gradient(-45deg, rgba(2,136,208,1) 0%, rgba(0,88,160,1) 100%);
  position: relative;
  transition: all 0.75s;
}

.subscription-plan .interval {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
}

.subscription-plan:hover .subscription-plan--price {
  padding-right: 15px;
}

.subscription-plan--description {
  order: 2;
  flex-grow: 2;
  align-self: center;
  color: #999999;
  transition: all 0.75s;
}

.subscription-plan--description strong {
  transition: all 0.75s;
}

.subscription-plan:hover .subscription-plan--description {
  color: #777777;
}

.subscription-plan:hover .subscription-plan--description strong {
  color: #cc0000;
}

.subscription-plan--button {
  order: 3;
  flex-grow: 1;
  align-self: center;
  width: 75px;
}
.second {
  background: rgb(0, 119, 192) !important;
}

.coupon-input {
  width: 40px;
  display: inline-block;
  margin: 0 10px;
  transition: all 0.75s;
}

.coupon-input:focus {
  width: 180px;
}

.coupon-input:focus + .verify-button {
  opacity: 1;
}

.verify-button {
  opacity: 0;
  transition: all 0.75s 0.75s;
}
